body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img {
    position: absolute;
    width: 390px;
    left: 0px;
    top: 48px;

    background: url(fa410a8d-90cb-4c5b-b027-c054bdd4b346.png);
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.welcome {
    position: absolute;
    width: 240px;
    height: 68px;
    left: 75px;
    top: 396px;
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    
    color: #000000;    
}

.message {
    position: absolute;
    width: 286px;
    height: 35px;
    left: 52px;
    top: 512px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    /* or 185% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;

    color: #000000;
}

.criar {
    position: absolute;
    width: 326px;
    height: 52px;
    left: 32px;
    top: 619px;

    background: #1F64B4;
    border-radius: 999px;
    border: 0px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.5px;

    color: #FFFFFF;
}

.entrar {
    box-sizing: border-box;

    position: absolute;
    width: 326px;
    height: 52px;
    left: 32px;
    top: 685px;

    border: 2px solid #1F64B4;
    border-radius: 999px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.5px;

    color: #134074;

    background-color: #FFFFFF;
}