body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.pageTitle {
    position: absolute;
    width: 228px;
    height: 16px;
    left: 16px;
    top: 8px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #000000;
}

.searchIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 20px;
    top: 78px;
}